
.DS_Store
abstractions-venv/*

dist/*
build/*
Abstractions.egg-info/*
abstractions/__pycache__/*

*.pyc
abstractions/text/chat/conversation_graph
*.json
*.parquet
/.venv
/.venv_wsl
.env


rules.txt
datamutant_rules.md
datamutant_coding_style.md
impala.html
gspo.md